.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.main {
  background-color: #69d5e3;
  padding: 20px;
  box-shadow: #69d5e3;
  border-radius: 12px;
}

input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  border: none;
  /* background-color: #69d5e3; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px 20px;
  margin: 10px;
  font-size: 20px;
  border: none;
  color: #ffffff;
  background-color: red;
  border-radius: 4px;
}
